<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bayuapriyadi.cbt">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rama Barbershop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".Dashboard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Book2" />
        <activity
            android:name=".Transaksi"
            android:parentActivityName=".Dashboard" />
        <activity android:name=".Location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtolaxNW_lTcaWM6w7sE6EVzIa4ZkcpHA" />

        <activity
            android:name=".Slider"
            android:label="@string/title_activity_slider"
            android:theme="@style/AppTheme" />
    </application>

</manifest>